*{
    margin: 0;
    padding: 0;
}

.right-sided-links{
    margin-right: 0;
}

.nav-link a{
    color: white;
}

svg {
    display: inline-block;
    vertical-align: middle;
  }

svg g{
    height: 800px;
    width: 800px;
}
.mapChart{
    height: 800px;
    width: 800px;
}

