*{
    margin: 0;
    padding: 0;
}

.right-sided-links{
    margin-right: 0;
}

.nav-link a{
    color: white;
}

svg {
    display: inline-block;
    vertical-align: middle;
  }


.tooltipBox {
    border: none!important;
}

.type-dark {
    background-color: white!important;
    justify-content: center;
}


path:hover {
    cursor: pointer;
    stroke: red;
    stroke-width: 3;
}

.loader {
    margin: auto;
}